body {background-color: pink;
}
#title{text-align: center}
#participante{text-align: center}
#results{text-align: center}

div{display: center;
  display: inline-block;}

#corretas{
  color: blue;
  text-align: center;
  padding: 100px;
  border: 5px solid black;}

#incorretas{
  color: red;
  text-align: center;
  padding: 100px;
  border: 5px solid black;}
